$primary-space: rgba(114, 175, 15, 0.644);
$primary-blue: rgba(36, 162, 212, 0.788);
$primary-green0: rgba(203, 230, 84, 0.692);

$secondary: rgba(36, 162, 212, 0.267);

$primary: $primary-space;

$txt-white: rgba(255, 255, 255, 0.918);
$txt-light: rgba(223, 219, 219, 0.918);
$txt-grey: rgba(26, 24, 24, 0.863);
$txt-dark: rgba(26, 25, 25, 0.856);
$txt-black: rgba(17, 16, 16, 0.945);

$bg-light: rgba(255, 255, 255, 0.692);
$bg-dark: rgba(14, 12, 12, 0.849);


$gap-y: 51px;
$gap-x: 9vw;

