@import '/src/style/variables';

.Hero {
  padding: 6vw 0;
  min-width: 475px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(white, $primary-blue);
  
  h1 {
    margin-bottom: 2vw;
    color: $txt-dark;
  }

  p {
    margin-bottom: .5vw;
    color: $txt-grey;
  }
}